/*
@-webkit-keyframes fadeInFlashlight {
    from {
        opacity: 0;
        color: red;
    }
    to {
        opacity: 1;
        color: green;
    }
}
*/
@keyframes fadeInFlashlight {
    0% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1.0;
    }
}